gltf2 / glb should decode the %-encodings in relative URI paths

According to the specification, in the relative URI paths the "Reserved characters must be percent-encoded, per RFC 3986, Section 2.2". It is a bit vague what exactly should be escaped in the context of GLTF2, so maybe when exporting it is possible to do nothing (i.e., leave the string as is; the current behaviour I believe), whereas when importing all %-encoded parts of the relative URI path should be decoded to obtain the real paths.

Where I said "leave the string as is" probably should have included "but at least escape the % escape characters".

@ccreus Is this still a problem?

Closing due to no response to followup