GLTF 1.0 ASCII exporter and importer handle absolute/relative paths in URIs poorly; exported files fail to import (also source of "Unsupported GLTF version: 1.0").

Library version: master @ cd42b99
Platform: Windows 10 64-bit
Compiler: MSVC 2019 64-bit

## Issue

### Exporter

The glTF 1.0 exporter writes file paths for buffer objects using the literal path specified by the application when exporting the file. For example:

    exporter.Export(scene, "gltf", "~import_coverage_dir/meshes_1__validation_no_/gltf/scene.gltf");

Leads to:

    "buffers": {
        "~import_coverage_dir/meshes_1__validation_no_/gltf/scene": {
            "byteLength": 72,
            "type": "arraybuffer",
            "uri": "~import_coverage_dir/meshes_1__validation_no_/gltf/scene.bin"
        }
    },

And absolute export paths lead to things like:

    "buffers": {
        "C:\\Users\\jason\\Projects\\Qt\\modelsplit\\generate_test_models\\~import_coverage_dir\\meshes_1__validation_no_\\gltf\\scene": {
            "byteLength": 72,
            "type": "arraybuffer",
            "uri": "C:\\Users\\jason\\Projects\\Qt\\modelsplit\\generate_test_models\\~import_coverage_dir\\meshes_1__validation_no_\\gltf\\scene.bin"
        }
    },

### Importer

The *importer*, on the other hand, handles paths differently, and also inconsistently:

- `CanRead` will return false if the path does not exist (I have not yet checked to see if this was corrected as a side effect to #3801, though, I'm a couple days behind on builds still).
- `ReadFile` , however, appears to ignore the path component entirely (or something), for better or worse. and can actually read the file just fine (as long as it's called directly, rather than through `Importer::ReadFile`). even when `CanRead` returns false.

## Consequences

There's numerous consequences here, but these are some significant ones:

First of all, this is why we get the "Unsupported GLTF Version: 1.0" sometimes when loading glTF 1.0 files: If the file was exported by assimp, and contains a path to a file that no longer exists, then the glTF 1.0 loader's `CanRead()` will fail. As a result, processing continues until the glTF 2.0 loader is attempted, and *that* loader is the source of the error. I thought I saw this in an issue but can't find it now. I had also mentioned it in #3766. Investigating this error is what led me to this issue report.

It's also why that error is sometimes hard to reproduce, because the high level effects of having an overspecified path in the file are:
- If you save the file by specifying a relative path, you can load it if you're in the same working directory, but not if you load it from somewhere else.
- If you save the file by specifying an absolute path, you can always load it, until you move the file.
- If you save the file, then make a copy, you can continue loading the copy until you delete the *old* files.
- And other weird debug-resistant behaviors...

Another consequence of this is, if the file contains an absolute path, and you copy the file then make modifications to the copy, in some situations you may not see your changes. This, of course, is super confusing.

Also, of course, most other programs won't be able to load glTF 1.0 files exported by assimp.

I'm sure you can imagine other consequences. The most significant of the above though is it's the source of that damn "Unsupported version" error (some of you may have already discovered this but for me, it was 🎉💃🎉).

## Specific Problems / Fixes

[glTF 1.0](https://github.com/KhronosGroup/glTF/tree/master/specification/1.0) is very loose regarding URIs. Since the binary data extension to 1.0 was later integrated as part of the base specification of [glTF 2.0](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0), I think it's wise to defer to 2.0 when clarification is needed, as the formats are very similar in this regard. However, 2.0 is still vague, and I've recently raised a discussion about it (which I don't think is going to go well, heh) at https://github.com/KhronosGroup/glTF/issues/1974.

In any case, here is a summary of the specs:
- [1.0] "uri" fields just need to be URI or URI references. Relative references to filesystem paths are taken relative to the .gltf file. No additional constraints are placed (e.g. schemes, etc.), but it's implied that `data:` URIs should be supported (outside scope of this issue).
- [2.0] Tightens up the definition of "uri" fields by:
   - Requiring support for `data:` URIs.
   - Requiring support for *the path-noscheme subset of URI relative references* (which is a further subset of general URI references), as defined in [RFC 3986 §4.2](https://tools.ietf.org/html/rfc3986#section-4.2).
   - Explicitly leaving support for other schemes optional, and warning of interoperability issues.
   - Explicitly leaving support for *path-absolute* URI relative references (i.e. *absolute* filesystem paths in the context of this issue) optional, and warning of interoperability issues, ***which is super annoying***.

So there's a number of issues here just regarding standard compliance (exporter = glTF 1.0 ASCII exporter, importer = glTF 1.0 importer):

- **ISSUE 1**: On Windows, the exporter *must* translate `\` path separators to `/`, otherwise it is a malformed URI reference. Additionally, if it does write an absolute path, it *must* prefix the drive letter with a `/` (e.g. `/c://path/file.bin`). This issue is also the reason that a solution to #3810 is potentially non-trivial.  
- **ISSUE 2**: While the 1.0 spec doesn't prohibit the exporter from writing absolute file paths, it really shouldn't, if for no other reason than it just creates so many problems (e.g. this issue).
- **ISSUE 3**: As per the 1.0 spec (and also sanity), when the exporter writes relative paths, they *must* be relative to the .gltf file. The current behavior of just blindly using whatever path was passed to `Export()` is not correct.
- **ISSUE 4**: If the importer encounters a relative path, it shouldn't attempt to translate it to something else (e.g. it shouldn't strip off the whole path then assume it's in the same place as the .gltf). It needs to remain relative to the .gltf file. This also means the importer (when `BaseImporter::ReadFile` was used directly) *should* fail when the resolved absolute path does not exist, regardless of whether or not the path-stripped file happens to exist next to the .gltf file.
- **ISSUE 5**: Same deal when encountering an absolute path, although the open question here is whether or not you want to at least *try* to find the file next to the .gltf file if the absolute path doesn't exist, just to allow loading of incorrectly exported files from previous versions or from other programs. I don't know the answer to this. You could also perhaps only take this fallback approach if asset.generator contains "assimp"? Or something.

And then, of course, there's a number of issues unrelated to standards compliance:

- **ISSUE 6**: `CanRead` needs to be fixed. Tbh, it probably shouldn't even attempt to verify that URI references are valid or refer to existing files; it really just ought to quickly see if the file looks like a glTF 1.0 ASCII file. In other words; just check to see that it's valid JSON with asset.version set to "1.0" and that's it. 
- **ISSUE 7**: In addition to issue 2, the exporter also should not use the complete path as the basis for object ID names, as the unnecessary presence of complete paths can create privacy and / or security issues. Both the 1.0 and 2.0 glTF specs just recommend using the assets relative path or filename, plus a `#` sign, plus an index. I think this is a good option, so e.g. the buffer ID in the example file way up top might simply be `scene.bin#0`. Another option that would work could be a type 4 UUID.
- **ISSUE 8**: Uh...

I'm sure there's an eighth issue but I just lost my train of thought. I think I intended to write more here but, who knows. So, the end.

I forgot to mention this but:

> First of all, this is why we get the "Unsupported GLTF Version: 1.0" sometimes when loading glTF 1.0 files: If the file was exported by assimp, and contains a path to a file that no longer exists, then the glTF 1.0 loader's CanRead() will fail. As a result, processing continues until the glTF 2.0 loader is attempted, and that loader is the source of the error. 

By "that loader is the source of the error", I don't actually mean that the glTF 2.0's `ReadFile` is the source (I mean, it probably *would* be, except:) -- the source is glTF 2.0 importer's `CanRead()` , which throws an exception with the version error in it.

I don't know if this is a bug or not (`CanRead()` throwing an exception), but that's what is happening there. I'm assuming this is the reason that "importerIndex" ends up being -1 after a gltf load failure (as opposed to the more common behavior of it being set even on failure), if it's bailing out of `Importer::ReadFile` early.

I didn't file it as its own issue because I don't actually know how it is supposed to behave.

---

Also here are some test models: [models.zip](https://github.com/assimp/assimp/files/6371198/models.zip)

```
All models generated by assimp.
scene-absolute/scene.gltf: contains absolute windows path (to a nonexistent place)
scene-none/scene.gltf: the correct form: uri is just "scene.bin"
scene-relative/scene.gltf: contains relative uri reference (to a nonexistent place)
scene-subdir/scene.gltf: another correct form; scene.bin is in "assets" subdir, uri is "assets/scene.bin".
```

---

Here is a test program (Qt not required): [repo](https://github.com/JC3/ModelSplit/tree/assimp-master-cd42b99/specific_tests/x3d_importer_fallback)

Example output when run against all 4 of the above models, edited to just show relevant bits, hopefully self-explanatory (the first "ReadFile" is `Importer::ReadFile` (the ones resulting in index -1 are from glTF 2.0's importer), the second is a direct call to the glTF 1.0's `ReadFile`:

```
assimp 5.0.1 (master @ cd42b995)

[using specified file: ..\models\scene-absolute\scene.gltf]
  ReadFile (pFlags=0):
    ReadFile:                 error: GLTF: Unsupported glTF version: 1.0
    importerIndex:            -1
    mName:                    (null info)
  ReadFile via forced use of BaseImporter:
    mName:                    glTF Importer
    CanRead(checkSig=false):  no
    CanRead(checkSig=true):   no
    ReadFile:                 success
---------------------------------------------------------------

[using specified file: ..\models\scene-relative\scene.gltf]
  ReadFile (pFlags=0):
    ReadFile:                 error: GLTF: Unsupported glTF version: 1.0
    importerIndex:            -1
    mName:                    (null info)
  ReadFile via forced use of BaseImporter:
    mName:                    glTF Importer
    CanRead(checkSig=false):  no
    CanRead(checkSig=true):   no
    ReadFile:                 success
---------------------------------------------------------------

[using specified file: ..\models\scene-none\scene.gltf]
  ReadFile (pFlags=0):
    ReadFile:                 success
    importerIndex:            43
    mName:                    glTF Importer
    scene->mFlags:            0x00000000
  ReadFile via forced use of BaseImporter:
    mName:                    glTF Importer
    CanRead(checkSig=false):  yes
    CanRead(checkSig=true):   yes
    ReadFile:                 success
---------------------------------------------------------------

[using specified file: ..\models\scene-subdir\scene.gltf]
  ReadFile (pFlags=0):
    ReadFile:                 success
    importerIndex:            43
    mName:                    glTF Importer
  ReadFile via forced use of BaseImporter:
    mName:                    glTF Importer
    CanRead(checkSig=false):  yes
    CanRead(checkSig=true):   yes
    ReadFile:                 success
---------------------------------------------------------------
``` 


Btw, as an aside, if you don't mind requiring C++17, `std::filesystem` exists now and takes care of a fair amount of this, as well as other ambiguities. 🤷‍♂️

Please add "Export" label to this issue

@JC3 Is this still a problem?

Closing due to no response to followup